<mat-card>
  <mat-card-header fxLayout="row">
    <h1 mat-dialog-title>User Registration</h1>
  </mat-card-header>

  <form [formGroup]="userForm" class="normal-form" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start stretch">
        <mat-form-field>
          <input formControlName="username" matInput placeholder="User Name*" />
          <mat-error
            *ngIf="
              userForm.controls['username'].errors?.required &&
              userForm.controls['username'].touched
            "
          >
            User name is mandatory
          </mat-error>
          <mat-error
            *ngIf="
              userForm.controls['username'].errors?.startsWithS &&
              userForm.controls['username'].touched
            "
          >
            User name should start with s
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start stretch">
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email*" />
          <mat-error
            *ngIf="
              userForm.controls['email'].errors?.required &&
              userForm.controls['email'].touched
            "
          >
            Email id is mandatory</mat-error
          >
          <mat-error
            *ngIf="
              userForm.controls['email'].errors?.pattern &&
              userForm.controls['email'].touched
            "
          >
            Invalid email id format
          </mat-error>
        </mat-form-field>
      </div>
      <div
        fxLayout="row"
        fxLayoutGap="10px"
        fxLayoutAlign="start stretch"
        *ngFor="
          let lessonForm of userForm.get('tags')['controls'];
          let i = index
        "
      >
        <mat-form-field formArrayName="tags">
          <div [formGroupName]="i">
            <input formControlName="tagname" matInput placeholder="tag name" />
          </div>
        </mat-form-field>
      </div>
      <button mat-button (click)="addTag()">add Tag</button>
    </div>
    <div mat-dialog-actions>
      <div fxFlex></div>
      <button mat-raised-button type="submit">Save</button>
    </div>
  </form>
</mat-card>
