<mat-card>
  <mat-card-content>
    <mat-table #table [dataSource]="users">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Customer</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="emailId">
        <mat-header-cell *matHeaderCellDef>email Id</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.emailId}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="totaltags">
        <mat-header-cell *matHeaderCellDef>No. of tags</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.tags.length}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let user">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onEditUser(user)">Edit</button>
            <button mat-menu-item (click)="onDeleteUser(user)">Delete</button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let user; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
